
.text-color {
    color: var(--text);
}

.text {
    color: var(--text);
    border-color: var(--text);
    margin-left: 10px;
}

.nav{
    background: var(--body);
}

.text:hover {
    color: var(--hover-white);
    border-color: var(--hover-white);
    background-color: var(--nav);
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: var(--text);
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--hover-white);
}

#button-1[_ngcontent-nhv-c17] .knobs[_ngcontent-nhv-c17]:before:hover{
    color: var(--hover-white);
}

#button-1 .knobs:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: var(--white);
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: var(--text);
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.35), 0 10px 10px -5px rgba(0, 0, 0, 0.20);
}

#button-1 .checkbox:checked+.knobs:before {
    content: '';
    left: 26px;
    background-color: var(--text);
}

#button-1 .checkbox:checked~.layer {
    background-color: transparent;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
    transition: 0.3s ease all;
}

.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    border: solid 2px var(--text);
    position: relative;
    top: 50%;
    width: 53px;
    height: 30px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    margin: 0;
}

.button:hover{
    border: solid 2px var(--hover-white);
}


.button.r,
.button.r .layer {
    border-radius: 100px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: var(--nav);
    transition: 0.3s ease all;
    z-index: 1;
}

