<div id="contatos" class="container mt-5 mb-5 d-flex">
  <div class="row col-12 justify-content-between">
    <h1 class="fw-light mt-4 mb-4 p-0 text-color">Contato</h1>
    <p class="text-color p-0">Você pode entrar em contato comigo através de qualquer uma das minhas redes sociais.</p>
    <div class=" mt-2 p-0">
      <div class="d-flex">
        <div class="col-1">
          <a href="https://www.linkedin.com/in/alanfelipe/" target="_blank">
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
        </div>
        <div class="col-1">
          <a href="https://github.com/AlanFelipeAliske" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
        </div>
        <div class="col-1">
          <a href="https://wa.me/5541995309999" target="_blank">
            <i class="fa fa-whatsapp fa-2x"></i>
          </a>
        </div>
        <div class="col-1">
          <a href="https://www.instagram.com/alanfelipealiske/" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>