/* .card:hover{
    background-color: #191e25 !important;
    transition: 0.3s;
} */

.body-class{
    padding-top: 90px;
}

.card{
    border-radius: 8px;
}

.card{
    border-color: var(--purple);
}
.text{
    color: var(--purple);

}

.zoom{
    animation: go-back 1.5s infinite alternate;
}
@keyframes go-back {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(-20px);
    }
  }


.height{
    height: 400px;
}

.fa{
    color: var(--white);
}

.fa:hover{
    position: relative;
    transform:  scale(1.2);
    transition: all 0.3s;

}