<div class="container body-class mt-5 mb-5">
  <div class="row height">
    <div class="col-sm-6">
      <h1 class="fw-light mt-4 mb-4 text-color">Front-End Developer</h1>
      <p class="lead text-color">##Em Desenvolvimento##</p>
    </div>
    <div class="col-sm-6 mt-4 mb-4 d-flex align-items-center justify-content-center">
      <img [src]="imageCode" width="300px" class="zoom" alt="">
    </div>
  </div>

  <app-timeline></app-timeline>
  <app-skills></app-skills>
  <app-courses></app-courses>
  <app-contato></app-contato>
</div>