<h2 class="fw-light mt-4 mb-4 p-0 text-color">Cursos</h2>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Organização Emissora</th>
      <th scope="col">Data de Emissão</th>
      <th scope="col">Ver Certificado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Mark</td>
      <td>15/08/2020</td>  <!-- | date: 'dd/MM/yyyy' -->
      <td><button class="btn btn-primary">Ver Certificado</button></td>
    </tr>
  </tbody>
</table>