<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>08/2021 - atual 🚀</h2>
      <p>Estágio e Desenvolvimento Full Stack na Compagas utilizando principalmente Python com Django</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>01/2020 - 01/2021</h2>
      <p>Estágio em Desenvolvimento Front-End na Inunda Web utilizando principalmente Wordpress, HTML, CSS e JS</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2020</h2>
      <p>Tranferi para presencial na UNIVERSIDATE TUIUTI DO PARANÁ</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2019</h2>
      <p>Começando o curso Análise e Desenvolvimento de Sistemas a distância na faculdade UNINTER  </p>
    </div>
  </div>
</div>