<div id="skills" class="container mt-5 mb-5 d-flex">
  <div class="row justify-content-between">
    <h1 class="fw-light mt-4 mb-4 p-0 text-color">Skills</h1>

    <div class="card bg-dark mb-4 col-sm-3 mt-2">
      <div class="card-body text-white">
        <h5 class="card-title text-color">JavaScript</h5>
        <p class="card-text text-color">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
      </div>
    </div>
    <div class="card bg-dark mb-4 col-sm-3 mt-2">
      <div class="card-body text-white">
        <h5 class="card-title text-color">HTML</h5>
        <p class="card-text text-color">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
      </div>
    </div>
    <div class="card bg-dark mb-4 col-sm-3 mt-2">
      <div class="card-body text-white">
        <h5 class="card-title text-color">CSS</h5>
        <p class="card-text text-color">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5 d-flex">
  <div class="row justify-content-between">
    <div class="card bg-dark mb-4 col-sm-3 mt-2">
      <div class="card-body text-white">
        <h5 class="card-title text-color">Bootstrap</h5>
        <p class="card-text text-color">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
      </div>
    </div>
    <div class="card bg-dark mb-4 col-sm-3 mt-2">
      <div class="card-body text-white">
        <h5 class="card-title text-color">Python/Django</h5>
        <p class="card-text text-color">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
      </div>
    </div>
    <div class="card bg-dark mb-4 col-sm-3 mt-2">
      <div class="card-body text-white">
        <h5 class="card-title text-color">GIT</h5>
        <p class="card-text text-color">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
      </div>
    </div>
  </div>
</div>



<div class="container mt-5 mb-5 d-flex">
  <div class="row justify-content-between">
    <div class="card bg-dark mb-3 col-sm-3 mt-2">
      <div class="card-body text-white">
        <h5 class="card-title text-color">PyCharm</h5>
        <p class="card-text text-color">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
      </div>
    </div>
    <div class="card bg-dark mb-3 col-sm-3 mt-2">
      <div class="card-body text-white">
        <h5 class="card-title text-color">VS Code</h5>
        <p class="card-text text-color">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
      </div>
    </div>
    <div class="card bg-dark mb-3 col-sm-3 mt-2">
      <div class="card-body text-white">
        <h5 class="card-title text-color">Visual Studio</h5>
        <p class="card-text text-color">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
      </div>
    </div>
  </div>
</div>

<div id="" class="container mt-5 mb-5 d-flex">
  <div class="row col-12 justify-content-between">
    <h1 class="fw-light mt-4 mb-4 p-0 text-white"></h1>


  </div>
</div>