.text{
    color: var(--purple);
    border-color: var(--purple);
}

.text:hover{
    color: var(--white);
    background-color: var(--purple)
}

.nav:hover{
    color: var(--purple)
    
}



/* 

rgba(255,255,255,.5)!important */