/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

*{
    font-family: "Consolas", "Open Sans";
}

:root {
    --red: red;
    --purple: #6610f2;
    --white: white;
    --silver: silver;
    --body: #191E25;
    --nav: #212529;
  }

body{
    background-color: #191e25 !important;
}

