/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

*{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    transition: 0.3s;
}

.theme-light {
    --purple: #6610f2;
    --white: #F8F9FA;
    --silver: silver;
    --body: #F8F9FA;
    --nav: #F8F9FA;
    --hover-white: grey;
    --text: #1B2431;
}

.theme-dark {
    --purple: #6610f2;
    --white: #202d3a;
    --silver: rgb(56, 45, 45);
    --body: #1B2431;
    --nav: #1B2431;
    --hover-white: grey;
    --text: #F8F9FA;
    --lightgrey: lightgrey;
}

#body{
    background-color: var(--body);
}

